* {
    box-sizing: border-box;
}


body{
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
}
@font-face {
    font-family: myFirstFont;
    src: url(../fonts/snoopy_reg-webfont.otf);
}
@font-face {
    font-family: mySecondFont;
    src: url(../fonts/Redressed.ttf);
}

h1
{
  font-family: myFirstFont;
}

#sidebar{
   position: fixed; 
   z-index: 1;
}

#sidebarSecond{
  position: fixed;
  display: none;
}

#pagewrapeer{
  position: relative; 
  z-index: 0;
}

.menu{
  position: sticky;
  left: 20px;
  width: 50px;
  top: 5px;
  padding: 0px;
  margin-left: 20px;
  position: relative;
}


.zoom {
    transition: transform .2s;
    width: 70px;
    height: 70px;
    margin: 0 auto;
}

.zoom:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
     border-radius: 50px;
    -webkit-box-shadow: -2px 2px 5px 0px #829486;
    -moz-box-shadow: 2px 2px 5px 0px #829486;
    box-shadow: -2px 2px 5px 0px #829486;
}


.icon{
  width: 45px;
  height: 45px;
  display: block;
    padding: 0px;
    transform: translate( -50%, 10%);
  -ms-transform: translate( -30%, -90%);
  top: 20px;
  left: 10px;
}

.buton{
  float: left; 
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.buton:hover{
   background-color: black;
    color: white;
}

h1{
  font-family: myFirstFont;
}


.responsive{
    width: 100%;
    position: relative;
    max-width: 800px;
}

.container {
    position: relative;
    width: 100%;
    max-width: 800px;
}


.container .btn {
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: inherit;
    color: black;
    /*font-size: 1vw;*/
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-family: mySecondFont;
}

.container .btn:hover {
    background-color: black;
    color: white;
}
.spania{
  position: absolute; 
  left: 150px; 
  top: 650px;
}

.franta{
  position: absolute;
  left: 300px;
  top: 500px;
}

.italia{
  position: absolute;
  left: 460px;
  top: 600px;
}

.romania{
  position: absolute;
  left: 680px;
  top: 500px;
}

.uk{
  position: absolute;
  left:280px;
  top:350px;
}

.germania{
  position: absolute;
  left: 450px;
  top:400px;
}

.norvegia{
  position: absolute;
  left: 450px;
  top: 200px;
}

.suedia{
  position: absolute;
  left: 550px;
  top: 100px;
}

.finlanda{
  position: absolute;
  left: 650px;
  top: 160px;
}


.footer {
 position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  z-index:0;
  top:70px;
  height:20%;
  background-color: #1a1a1a;
  padding-bottom:5px;
  margin:0;

 }

.footertext1{text-align:left;
color:white;
font-style: bold;
font-size:20px;
margin-left:50px;}

.footertext2{text-align:left;
color:white;
top:0.2px;
font-size:13px;
margin-left:50px;}
 

 .bottombar {
  color: white;
  overflow: hidden;
  display: block;
  background-color:#262626;
  position:element(#footer);
  position: relative;
  right: 5px;
  bottom: 0;
  left: 0;
  top:58px;
  z-index:1;
  height:6%;
  
}



@media only screen and (max-width: 620px){



body{
  background:
  linear-gradient( rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../images/altfundal.jpg");
  color: white;
   background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
}


  .responsive{
  display: none;
}


.spania{
  position: absolute; 
  left: 45px; 
  top: 60px;

}

.franta{
  position: absolute;
  left: 45px;
  top: 100px;
}

.italia{
  position: absolute;
  left: 45px;
  top: 140px;
}

.romania{
  position: absolute;
  left: 45px;
  top: 180px;
}

.uk{
  position: absolute;
  left:45px;
  top:220px;
}

.germania{
  position: absolute;
  left: 45px;
  top:260px;
}

.norvegia{
  position: absolute;
  left: 45px;
  top: 300px;
}

.suedia{
  position: absolute;
  left: 45px;
  top: 340px;
}

.finlanda{
  position: absolute;
  left: 45px;
  top: 380px;
  margin-bottom: 50px;
}

.container {
    position: relative;
    width: 100%;
    max-width: 100px;
    display: block;
    margin-bottom: 50px;
    margin: 50px;
}

.container .btn {
    color: white;
    padding: 10px 10px;
    font-size: 25px;
    border-bottom: solid white
}

 .footer{
  top:450px;
  padding-bottom:20px;
  bottom:0;
}
.bottombar{
  top:450px;
  bottom:0;
}

}

@media only screen and (min-width: 412px) and (max-width: 731px){

 .footer {
  top:500px;
  padding-bottom:20px;

 }

 .bottombar{
  top:500px;
 }


}


@media only screen and (min-width: 375px) and (max-width: 811px){

 .footer {
  top:560px;
  padding-bottom:20px;

 }

 .bottombar{
  top:560px;
 }


}

@media only screen and (min-width: 768px) and (max-width: 1023px){

.spania{
  position: absolute; 
  left: 150px; 
  top: 600px;
}
.franta{
  position: absolute;
  left: 280px;
  top: 480px;
}

.italia{
  position: absolute;
  left: 450px;
  top: 580px;
}

.romania{
  position: absolute;
  left: 650px;
  top: 480px;
}

.uk{
  position: absolute;
  left:260px;
  top:350px;
}

.germania{
  position: absolute;
  left: 410px;
  top:400px;
}

.norvegia{
  position: absolute;
  left: 420px;
  top: 200px;
}

.suedia{
  position: absolute;
  left: 500px;
  top: 210px;
}

.finlanda{
  position: absolute;
  left: 600px;
  top: 160px;
}

.footer{

  padding-bottom:20px;
  bottom:0;
}
.bottombar{
  bottom:0;
}

}

@media only screen and (min-width: 1024px) and (max-width: 1365px){

 .footer {
  top:370px;
  padding-bottom:20px;

 }

 .bottombar{
  top:370px;
 }

}