* {
    box-sizing: border-box;
}


body{
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
}
@font-face {
    font-family: myFirstFont;
    src: url(snoopy_reg-webfont.otf);
}
@font-face {
    font-family: mySecondFont;
    src: url(Redressed.ttf);
}

.topbar {
  overflow: hidden;
  top: 0;
  /*position: absolute;
  /*display: block;
  /*width: 100%;*/
  padding: 0;
  height:60px;
  font-family: myFirstFont;
  list-style-type: none;
  margin: 0;
  font-size: 35px;
} 

.buton{
  float: left; 
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.buton:hover{
   background-color: black;
    color: white;
}

h1{
  font-family: myFirstFont;
}


.responsive{
    width: 100%;
    position: relative;
    max-width: 800px;
}
.container {
    position: relative;
    width: 100%;
    max-width: 800px;
}


.container .btn {
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: inherit;
    color: black;
    /*font-size: 1vw;*/
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-family: mySecondFont;
}

.container .btn:hover {
    background-color: black;
    color: white;
}
.spania{
  position: absolute; 
  left: 150px; 
  top: 650px;
}

.franta{
  position: absolute;
  left: 300px;
  top: 500px;
}

.italia{
  position: absolute;
  left: 460px;
  top: 600px;
}

.romania{
  position: absolute;
  left: 680px;
  top: 500px;
}

.uk{
  position: absolute;
  left:280px;
  top:350px;
}

.germania{
  position: absolute;
  left: 450px;
  top:400px;
}

.norvegia{
  position: absolute;
  left: 450px;
  top: 200px;
}

.suedia{
  position: absolute;
  left: 550px;
  top: 100px;
}

.finlanda{
  position: absolute;
  left: 650px;
  top: 160px;
}

@media only screen and (max-width: 620px){

body{
  background:
  linear-gradient( rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("altfundal.jpg");
  color: white;
   background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
}


  .responsive{
  display: none;
}


.spania{
  position: absolute; 
  left: 45px; 
  top: 60px;

}

.franta{
  position: absolute;
  left: 45px;
  top: 100px;
}

.italia{
  position: absolute;
  left: 45px;
  top: 140px;
}

.romania{
  position: absolute;
  left: 45px;
  top: 180px;
}

.uk{
  position: absolute;
  left:45px;
  top:220px;
}

.germania{
  position: absolute;
  left: 45px;
  top:260px;
}

.norvegia{
  position: absolute;
  left: 45px;
  top: 300px;
}

.suedia{
  position: absolute;
  left: 45px;
  top: 340px;
}

.finlanda{
  position: absolute;
  left: 45px;
  top: 380px;
}

.container {
    position: relative;
    width: 100%;
    max-width: 100px;
    display: block;

}

.container .btn {
    color: white;
    padding: 10px 10px;
    font-size: 25px;
    border-bottom: solid white
}

}