
.menu{
	position: sticky;
	top: 500px;
	left: 20px;
	width: 50px;
}


p{
	padding: 0px;
	margin: 5px;
}


.zoom {
    transition: transform .2s;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    z-index: 10;
}

.zoom:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
}


.icon{
	width: 45px;
	height: 45px;
	display: block;
    padding: 0px;
    transform: translate( 0%, 10%);
	-ms-transform: translate( -30%, -90%);
	top: 20px;
	left: 10px;
}
