* {
    box-sizing: border-box;
    cursor: url(NormalSelect.cur), default;
}

body{
	background-color: #C6C9AA;
	margin : 0px;

	background:url("../images/travel-wallpaper-blur-op.jpg") no-repeat center center fixed;

}

@media only screen and (max-width: 600px){
	body{
		background-color: #C6C9AA;
	}
}

[class*="col-"] {
    float: left;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/*Desktop view*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;} 
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


@media only screen and (max-width:1025px) and (min-width: 1024px) {
	.empty{
		display: none;
	}	

	.option{
		width: 40%;
		left: 90px;
	}
 }

@media only screen and (max-width: 960px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

    [class*="breakrow"]{
    	display: none;
    }

    [class*="empty"]{
    	display: none;
    }
    

    #sidebar{
    	/*display: none;*/
    }

    #sidebarSecond{
    	display: block;
    	height: 50px;
    	width: 100%;
    	background-color: black;
    	z-index: 1;
    }
}

#sidebar{
	 position: fixed; 
	 z-index: 1;
}

#sidebarSecond{
	position: fixed;
	display: none;
}

#pagewrapeer{
	position: relative; 
	z-index: 0;
}

.menu{
	position: sticky;
	left: 20px;
	width: 50px;
	top: 5px;
	padding: 0px;
	margin-left: 20px;
	position: relative;
}


.zoom {
    transition: transform .2s;
    width: 70px;
    height: 70px;
    margin: 0 auto;
}

.zoom:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
     border-radius: 50px;
    -webkit-box-shadow: -2px 2px 5px 0px #829486;
    -moz-box-shadow: 2px 2px 5px 0px #829486;
    box-shadow: -2px 2px 5px 0px #829486;
}


.icon{
	width: 45px;
	height: 45px;
	display: block;
    padding: 0px;
    transform: translate( -50%, 10%);
	-ms-transform: translate( -30%, -90%);
	top: 20px;
	left: 10px;
}


}

/*Etc*/

.topbar {
  overflow: hidden;
  display: block;
  background-color: #000000;/*#15113a; #4d636f;*/
  position: sticky;
  top: 0;
  width: 100%;
  padding: 14px 16px;
  height: 8%;
  z-index: 1000;
  opacity: 0.6;
}

.empty{
/*	background-color: #1A0B03;*/
}

.option{
	text-align: center;
	position: relative;
	/*background-color: black;*/
}

.button{
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	/*box-shadow: 2px 5px #0F0101; #251B1B #420808*/
	box-shadow: 5px 5px #251B1B;
}

.buttonText{
	color: white;
	font-size: 16px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}


.option:hover .button{
	opacity: 1.0;
	background-color: #8F0907;
	border: none;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	padding: 16px 32px;
	cursor: pointer;
}

.button:hover{
	opacity: 1.0;
}

.priceTxt{
	position: absolute;
	top: 55%;
	left: 50%;
	text-align: center;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: white;
	text-shadow: 2px 2px #090101;
	opacity: 0;
	font-size: 2em;
}

.option:hover .priceTxt{
	transition: .5s ease;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	opacity: 1;
}

.itemTitle{
	position: absolute;
	top: 20%;
	left: 50%;
	text-align: center;
	font-family: "Lucida Console", Monaco, monospace;
	color: white;
	text-shadow: 2px 2px #090101;
	opacity: 0;
	font-size: 1.5em;
}

.option:hover .itemTitle{
	transition: .5s ease;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	opacity: 1;
}


.itemDescription{
	position: absolute;
	top: 40%;
	left: 50%;
	text-align: center;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: white;
	text-shadow: 2px 2px #090101;
	opacity: 0;
	font-size: 0.8em;
}

.option:hover .itemDescription{
	transition: .5s ease;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	opacity: 1;
}

#resTitleDiv{
	text-align: center;
	position:  relative;
	top: 150px;
}

#resTitleText{
	color: #E3EA8C;
	font-size: 3em;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-shadow: 2px 2px #474637;
	position: relative;

}

/*Image style*/
.image{
	opacity: 1.0;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
	border-style: groove;
	border-color: #620604;
}

.option:hover .image{
	opacity: 0.4;
}

.breakrow{
	height: 5%;
}







.dropdown{
	position: relative;
	display: inline-block;
}

.menuButton{
	height: auto;
}


.menuButtomImg{
	position: absolute;
	left: 15%;
	height: 20%;
	width: auto;
}


 .footer {
 position: relative;
  right: 0;
  bottom: 0;
  left: 0;
z-index:0;
top:50px;
  height:30%;
  background-color: #1a1a1a;
  padding-bottom:5px;
margin:0;
}


.footertext1{text-align:left;
color:white;
font-style: bold;
font-size:20px;
margin-left:50px;}

.footertext2{text-align:left;
color:white;
top:0.2px;
font-size:13px;
margin-left:50px;}
 

 .bottombar {
  overflow: hidden;
  display: block;
  background-color:#262626;
  position: relative;
  bottom: 0;
  left: 0;
  top:16px;
  z-index:1;
  height:5%;
  
}
.dropdown{display:none;}


@media only screen and (max-width:1024px) {
	.footer {

top:270px;
height:15%;

 }
 .footertext1{
font-size:23px;
}

.footertext2{font-size:20px;}
  .bottombar {

  
  top:270px;
  height:3%;
  
}


body{
	margin:0;
	background-color: #C6C9AA;
	margin : 0px;

	background:url("../images/travel-wallpaper-blur-op.jpg") no-repeat center center fixed;

}
}

 @media only screen and (max-width:800px) {
    

.footer{padding-bottom:5px;
height:50px;
}
.bottombar{height:4%;
padding-bottom:2px;}
.footertext1 .p{font-size:25px;
padding-bottom:2px;}
.footertext1{display:none;}
.footertext2{display :none;}


.dropdown {
    position: relative;
    display: inline-block;
color:grey;
}

.dropdown-content {
     display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    bottom:50px;
    border:4px;
border-radius: 5px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
 }}
