* {
    box-sizing: border-box;
    cursor: url(NormalSelect.cur), default;
}

body{
	background-color: #C6C9AA;
	margin : 0px;
	/*background:url("Images-Results/travel-wallpaper-blur-op.jpg") no-repeat center center fixed;*/
	background:url("Images-Results/profileBackground59.jpg") no-repeat center center fixed;
	background-size: cover;
}


@media only screen and (max-width: 600px){
	body{
		background-color: #C6C9AA;
	}
}

[class*="col-"] {
    float: left;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/*Desktop view*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;} 
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 960px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

    [class*="breakrow"]{
    	display: none;
    }

    [class*="empty"]{
    	display: none;
    }

}

/*iPhone 7
@media only screen and(max-width: 450px)
and (min-width: 0px){

    [class*="username"]{
    	font-size: 75%;
    }

    .profilePicture{
		width: 100%;
		align-items: center;
	}

    .imgProfile{
		height: 50%;
		align-self: center;
	}
}
*/

/*iPad*/
@media only screen and (max-width: 1024px)
and (min-width: 960px){
	.col-1 .empty{
		display: none;
	}

	.profilePicture .col-3{
		width: 100%;
		position: relative;
		left: 50%;
	}

	.imgProfile{
		height: 50%;
		align-content: center;
		align-self: center;
		align-items: center;
	}
}

/*Etc*/

.someBreak{
	position: relative;
	top: 50%;
}


.topbar {
  overflow: hidden;
  display: block;
  background-color: #000000;/*#15113a; #4d636f;*/
  position: sticky;
  top: 0;
  width: 100%;
  padding: 14px 16px;
  height: 8%;
  z-index: 1000;
  opacity: 0.6;
}

.empty{
/*	background-color: #1A0B03;*/
}

.breakrow{
	height: 5%;
	
}

.profile{
	/*border: 1px solid purple;*/
}

#descriprion{
	background-color: lightblue;
	position: absolute;
}

#accountStatus{
	position: relative;
	/*border: 1px solid green;*/
}

.mainProfileSpace{
	/*background-color: #957D52; /*#BEB984;*/
	/*height: 100%;
	border: 1px solid red;*/
}

.imgProfile{
	height: 25%;
	border-style: dashed;
	border-color: darkred;
}

.userDescription{
	position: relative;
	height: 25%;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 16px;
	text-align: center;
	/*border: 1px solid red;*/
}

.username{
	font-size: 2.5em;
	font-family: "Arial Black", Gadget, sans-serif; /*Verdana, Geneva, sans-serif;*/
	position: relative;
	height: 45%;
	/*border: 1px solid yellow;   #72A75E*/
	color: #3D8743;
}

.countryAge{
	font-family: Arial, Helvetica, sans-serif;/*  "Lucida Console", Monaco, monospace;*/
	font-size: 2em;
	position: relative;
	height: 35%;
	/*border: 1px solid yellow;*/
	color: #CBEFD6;
}

.dob{
	font-family: "Courier New", Courier, monospace;
	font-size: 1.5em;
	position: relative;
	height: 20%;
	/*border: 1px solid yellow;*/
	color: #CBEFD6;
}



.normalP{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 1.8em;
	text-align: center;
	text-shadow: 2px 2px #A5ECAB;
	color: #0E2C11;
}

.countP{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 2.5em;
	text-align: center;
	text-shadow: 2px 2px #0E2C11;
	color: #88E0B2;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    align-self: center;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    border: 2px solid green;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-image: url("Images-Results/black.png");

}

.idea{
	color: white;
}


.bottom{
	position: relative;
}

.uhm{
	background-color: #1a1a1a;
	position: relative;
	top: 10%;
}


 .footer {
	position: relative;
	right: 0;
	bottom: 0;
	left: 0;
	z-index:0;
	top:500px;
	width:100%;
	height:20%;
	padding: 1rem;
	background-color: #1a1a1a;
	margin:0;
	height: 94%;
}

 .bottombar {
	overflow: hidden;
	display: block;
	background-color:#262626;
	position:element(#footer);
	position: relative;
	right: 0;
	bottom: 0;
	left: 0;
	top:50px;
	z-index:1;
	width: 100%;
	padding: 14px 16px;
	height:6%;
}

.footertext1{
	text-align:left;
	color:white;
	font-style: bold;
	font-size:20px;
	margin-left:50px;
}

.footertext2{
	text-align:left;
	color:white;
	top:0.2px;
	font-size:13px;
	margin-left:50px;
}

.footertext3{
	text-align:center;
	position: element(#div3);
	color:white;
	font-style: bold;
	top:1000px;
	z-index:1;
	 position: absolute;
	font-size:20px;
	margin-left:50px;
}
